* {
    margin: 0 auto;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(232, 247, 235); 
}

.mainHeaderContainer {
    display:flex;
}

.header {
    display: flex;
    background-color: rgb(41, 85, 75);
    width:100%;
    
}
.header2 {
    display: flex;
    background-color: rgb(41, 85, 75);
}

.profilePic {
    margin:20px;
    width: 150px;
    height:150px;
    object-fit: cover;
}

.logoImage{
    margin:20px;
    width: 150px;
    height:150px;
    object-fit: cover;
}
 .errorMessage {
    font-size: 10px;
 }

 form {
    display:flex;
 }

 .loginContainer2, .registerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: rgb(41, 85, 75);
    margin: 0;
    width: 100%;
    padding: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:300;
    align-items: center;
  
 }

 .loginContainer1{
    height:600px;
    object-fit: cover;
    background-position:bottom;
 }

 input {
    margin-top:20px;
    margin-bottom:20px;
    border-right: none;
    border-top: none;
    border-left: none;
    background-color: transparent;
    outline: none;
    caret-color: white;
    color: darkgray;
    font-size:large;
}

.login {
    position:flex;
    flex-direction:column;
}

.registration1 {
    height:400px;
    background-repeat: no-repeat, repeat;
    object-fit: cover;
}

.registration2{
    display:block;
    width:100%
}

section{
   display:flex;
   flex-direction: column;
}

.regsiterImage {
    width:100%;
}

.registerButton {
    background-color: rgb(41, 85, 75);
    color: white;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    margin:20px;
}

.registerText {
    padding:3px;
}

.layout {
    background-color: rgb(41, 85, 75);
    display:flex;
    justify-content: center;
    align-items: center;
}


.uploadButton {
    background-color: rgb(41, 85, 75);
    color: white;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    margin:20px;
}

.XButton {
    float:right;
    font-size: 30px;
}

.links {
  margin:20px;
}

.logoutLink, .weatherLink, .chatLink, .map {
color:white;
    margin:20px;
    font-size: 22px;
}


.mapContainer {
    display:flex;
    justify-content: center;
}

.map-container {
    width:1000px;
    height: 600px;
}

.logoBike {
    width: 40px;
    height: 40px;
}

.bikeButton {
    background:none;
    border:none;
    cursor:pointer;
}

.weatherContainer{
    background-image:url("/images/mountain.jpg");
    background-size:cover;
    background-position:bottom;
    transition: 0,4 ease-out;
}

.weatherContainer .warm {
    background-image:url("/images/mountains-weather.jpg");
    
}

.weatherMain{
    min-height: 81vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(0,0,0,0.75));
    padding:30px;
}

.searchBox {
    width:100%;
    margin: 0 0 75 px;
}

.searchBar {
    text-align: center;
}

.searchBar, .searchBox{
    display:block;
    width:100%;
    padding:15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow:0px 5px rgba(0,0,0, 0.2);
    color:#313131;
    font-size:20px;
    transition: 0.4 ease;
}

.searchBox, .searchBar:focus {
    background-color: rgba(248, 241, 241, 0.5);
}

.locationBox, .location{
    margin:25px;
    color:#fff;
    font-size:32px;
    font-weight: 500;
    text-shadow: 3px 3px rgba(50, 50, 70, 0,5);
}

.locationBox, .date {
    color:#fff;
    font-size:20px;
    font-weight: 300;
    text-align:center;
    text-shadow: 2px 2px rgba(50, 50, 50, 0.5);
}

.weather {
    text-align:center;
}

.weather, .temp {
    text-align:center;
    margin:25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 15px 25px;
    color:#fff;
    font-size:105px;
    font-weight: 900;
    text-shadow: 2px 2px rgba(50, 50, 50, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weatherBox, .weather {
    color:#fff;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 2px 2px rgba(50, 50, 50, 0.5);
}


.chatHeader{
    justify-content:center;
    text-align:center;
    color:white;
    font-size:50px;
    font-weight: 900;
    text-shadow: 2px 2px rgba(50, 50, 50, 0.5);
}

.chat{
    
    background-image: url("/images/FlyingBike.jpeg");
    background-blend-mode: rgba(50, 50, 50, 0.5) ;
    background-size:cover;
    height: 820px;
     

      
}
.chatLayout{
  background-color: rgba(90, 85, 85, 0.5);
  height: 820px;
}

.chat-box {
    width: 600px;
    height: 600px;
    overflow: auto;
    border-radius: 4px;
    padding: 1em;
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
   
}

.chatMessage {
    display: flex;
    margin-bottom: 7px;
}

.chatMessage p {
    position: relative;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5em;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.chatMessage img {
    object-fit: cover;
     width: 45px;
    height: 45px;
    border-radius: 20%;
    margin-right: 1em;
}

.chatinputContainer{
    text-align:center;
}

textarea {
    width:600px;
    height:100px;
    background-color: rgb(248, 240, 241);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);

}

.chat-input{
    background-color: rgba(255, 255, 255, 0.5);
}

.trailImg {
    width: 380px;
    height:100px;
    object-fit: cover;
    border-radius: 8px;
}

.mapMain{
    display:flex;
    width:100%;

}

.topThreeMain{
    margin:40px;
}

.topThreeChild{
    margin:40px;
     background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5em;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.locateControl{
    margin-right:30px;
}

.topThreeHeader {
    justify-content:center;
    text-align:center;
    font-size:21px;
    font-weight: 900;
    text-shadow: 1px 1px rgba(50, 50, 50, 0.5);
}

.topThree{
    background-color: rgb(248, 240, 241);
    margin-left:20px;
    justify-content:center;
    align-items:center;
    margin-top:30px;
    padding:5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5em;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
   
}

.likes {
    font-size:13px;
    font-style: italic;
}

.likeButton {
    background-color: rgb(41, 85, 75);
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom:10px;
    cursor: pointer;
    margin-left:5px;
}

.likeButtonDisabled{
    background-color: rgb(199, 230, 222);
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom:10px;
    cursor: pointer;
    margin-left:5px;
}

.mapboxgl-popup-content{
    width:400px;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
     
}

.commentContainer{
    display:flex;
}

.commentButton {
    background-color: rgb(41, 85, 75);
    color: white;
    font-size: 20px;
    cursor: pointer;
    height:30px;
    margin: 10px 10px 10px 0px;
}

.likeContainer {
    display:flex;
}

.countOfLikes {
    margin-top:10px;
    margin-right:10px;
}

.commentBoxContainer{
   height: 200px;
   margin: 0em;
   margin-left:10px;
   
}

.commentBox{
   height: 100%;
   margin: 0em;
   overflow-y: auto;
}

.hey {
    font-size:10px;
}

.trailComments{
    margin-left:10px;
}

.comment{
    border-radius: 10px;
    padding:10px;
    background-color: rgba(231, 243, 230, 0.5);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.commentBox h3{
    font-weight: 900;
}












